.App {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
}

.notes-container {
  height: 70vh;
  border: 1px dashed black;
}

.new-note-form {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

input[type='text'] {
  width: 70%;
  height: 50px;
  padding-left: 15px;
}

input[type='submit'] {
  padding: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: yellow;
}

input[type='submit']:hover {
  background-color: rgb(207, 207, 114);
}

.note {
  position: relative;
  padding: 15px;
  display: flex;
  width: 100px;
  height: fit-content;
  border: 1px dashed black;
}